.about-container {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    margin-block-end: 75px;
    padding-inline: 40px;
    .about-img {
        width: 100%;
    }

    .about-img-container {
        position: relative;

        .circle {
            position: absolute;
            height: 30%;
            z-index: 999;
            top: 11.5%;
            transform: translateX(-50%);
            left: 0;
            border-radius: 50%;
            backdrop-filter: blur(18px);
            padding: 6px;
            box-shadow: 0px 0px 9px 5px #a1a0a042;
            border: 1px solid white;
            border-left-color: transparent;
            transform-origin: center;
            img {
                height: 100%;
            }
        }


    }

    .about-article-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .headline-container {
            position: absolute;
            bottom: 0px;
        }

        .about-content-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }
    }

    .read-more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: unset;
    }

}