.about-container {
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 50px;
    margin-block-end: 75px;

    .about-img {
        width: 100%;
    }

    .about-article-container {
        display: flex;
        flex-direction: column;
        position: relative;

        .headline-container {
            position: absolute;
            bottom: 0px;
        }

        .about-content-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding-top: 30px;
        }
    }

    .read-more-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: unset;
    }

}