.training-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    margin-bottom: 50px;
    padding-inline: 10px;

    @media screen and (min-width:600px) {
        padding-inline: 40px;

    }

    position: relative;
    padding-top: 100px;

    .training-content {
        text-align: center;
    }

    .training-desc-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: column;

        @media screen and (min-width:1000px) {
            flex-direction: row;
            max-height: 600px;
            gap: 30px;
        }

        .train-img-container {

            cursor: pointer;
            position: relative;


            &:not(:first-of-type) {
                padding-top: 30px;

                @media screen and (min-width:1000px) {
                    padding-top: unset;
                }

            }

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 12px;
                aspect-ratio: 2/1;

                @media screen and (min-width:1000px) {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: unset;
                }
            }

            .expend-train {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 40px;
                width: 90%;
                direction: ltr;
                color: white;
                padding: 8px 20px;
                border: 1px solid transparent;
                border-radius: 8px;
                background-clip: padding-box;
                display: flex;
                align-items: center;
                z-index: 99;
                align-items: center;
                background: transparent;
                backdrop-filter: blur(8px);
                font-family: main-font;
                border-radius: 50vw;
                border-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='99' height='99' fill='none'%3e%3cpath stroke='url(%23a)' stroke-width='0.5' d='M8 0.6h84a 7 7 0 0 1 7 7.3v84a7 7 0 0 1-7 7H8a7 7 0 0 1-7-7V8a7 7 0 0 1 4.8-7Z'/%3e%3cdefs%3e%3clinearGradient id='a' x1='20.27' x3='120.715' y1='126' y2='113.589' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23F5F3EF'/%3e%3cstop offset='.367' stop-color='%23F5F3EF'/%3e%3cstop offset='.682' stop-color='%23efece466'/%3e%3cstop offset='1' stop-color='%23efece466'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e") 8 / 50vw stretch
            }
        }

        .train-img-container[data-is-open="true"] {
            /* width: 100%; */
            height: 100%;
            z-index: 99;
            cursor: pointer;

            @media screen and (min-width:1000px) {
                position: absolute;
                width: 60%;
                left: 0;
            }

            .expend-train {
                display: none;
            }

        }

        .train-img-container[data-is-shown="false"] {
            @media screen and (min-width:1000px) {
                visibility: hidden;
            }
        }
    }

}



.train-content-container {
    display: none;
    top: 0;
    z-index: 999;
    height: 100%;
    /* opacity: 0; */
    background-color: unset;

    @media screen and (min-width:1000px) {
        position: absolute;
        width: 50%;

    }

    .train-content {
        display: flex;
        background-color: white;
        flex-direction: column;
        padding: 15px;
        border-radius: 12px;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 5%, rgba(255, 255, 255, 1) 10%);

        @media screen and (min-width:1000px) {
            padding: 30px;
            width: 85%;
            border-top-left-radius: unset;
            border-bottom-left-radius: unset;
            background: none;
            background-color: white;
        }

        .train-text-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .train-subheadline {
                font-size: 1.75rem;
            }
        }
    }

    .blur-space {
        height: 5%;
        width: 100%;
        backdrop-filter: blur(3px);
        position: absolute;
        border-radius: 12px;
        top: 0px;
        /* border-top-right-radius: unset; */
        /* border-bottom-right-radius: unset; */

        @media screen and (min-width:1000px) {
            height: 100%;
            width: 10%;
            top: unset;
            left: 9%;


        }
    }
}

.train-content-container[data-is-open="true"] {
    display: flex;
}