.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (min-width:1000px) {
        padding-inline: 40px;
    }

    .headline-container {
        display: flex;
        align-items: center;

        h2 {
            font-size: 1.5rem;

            span {
                font-weight: 400;
            }
        }

        @media screen and (min-width: 700px) {
            h2 {
                font-size: 3rem;
            }
        }
    }

    .welcome-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        padding-inline: 10px;

        @media screen and (min-width:1000px) {
            padding-inline: unset;
        }
    }

    .sub-content-container {
        display: flex;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 50px;
        gap: 10px;
        flex-direction: column;

        @media screen and (min-width:1000px) {
            flex-direction: row;
        }

        .video-container {
            background-color: #EEEEEE;
            border-radius: 12px;
            width: 100%;
            height: 300px;
            padding-inline: 10px;

            @media screen and (min-width:1000px) {
                width: 40%;
                padding-inline: unset;
                height: unset;
            }
        }

        .sub-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: right;

            @media screen and (min-width:1000px) {
                width: 60%;
            }

            h3 {
                font-size: 1.75rem;
                padding-inline: 10px;

                @media screen and (min-width:1000px) {
                    width: 60%;
                    padding-inline: unset;
                }
            }

            .subheadline-content, .head-paragraph, .main-paragraph {
                display: flex;
                flex-direction: column;
                gap: 2px;
                padding-inline: 10px;

                @media screen and (min-width:1000px) {
                    padding-inline: unset;
                }
            }

            .details-container {
                margin-top: 30px;

                .detail-container {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding-block: 20px;
                    border-bottom: 1px solid black;
                    padding-inline: 10px;

                    @media screen and (min-width:1000px) {
                        padding-inline: unset;
                    }

                    &:first-of-type {
                        border-top: 1px solid black;
                    }
                }
            }
        }
    }

}