.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;

    .headline-container {
        display: flex;
        align-items: center;

        h3 {
            font-size: 1.5rem;

            span {
                font-weight: 400;
            }
        }

        @media screen and (min-width: 700px) {
            h3 {
                font-size: 3rem;
            }
        }
    }

    .welcome-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .sub-content-container {
        display: flex;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 50px;
        gap: 10px;

        .video-container {
            width: 40%;
            background-color: #EEEEEE;
            border-radius: 12px;
        }

        .sub-content {
            display: flex;
            width: 60%;
            flex-direction: column;
            gap: 20px;
            text-align: right;

            h3 {
                font-size: 1.75rem;
            }

            subheadline-content, head-paragraph, main-paragraph {
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}