.welcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;

    .headline-container {
        display: flex;
        align-items: center;

        h3 {
            font-size: 1.5rem;

            span {
                font-weight: 400;
            }
        }

        @media screen and (min-width: 700px) {
            h3 {
                font-size: 3rem;
            }
        }
    }

    .welcome-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}